<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 声明对 LNR 宿主的可见性，解决 AppsFilter BLOCKED -->
    <queries>
        <package android:name="indi.dmzz_yyhyy.lightnovelreader" />
        <package android:name="indi.dmzz_yyhyy.lightnovelreader.debug" />
        <intent>
            <action android:name="io.nightfish.lightnovelreader.PLUGIN_DISCOVERY" />
        </intent>
    </queries>
    
    <application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true">
        <receiver android:name=".PluginDiscoveryReceiver" android:exported="true">
            <intent-filter><action android:name="io.nightfish.lightnovelreader.PLUGIN_DISCOVERY" /></intent-filter>
        </receiver>
        <activity android:name=".ui.LoginActivity" android:exported="true" android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
    </application>
</manifest>
